*{
    margin: 0%;
    text-decoration: none;
}
.navbar{
    background-color: black;
    font-size: 20px;
}
.menu{
    display: flex;
    list-style: none;
}
.item{
    margin: 20px;
}

.navbar .menu a{
    color: white;
}
@media screen and (max-width:600px) {
    .navbar{
        font-size: 4vw;
    }
}